.product img{
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-top:50px;
    border:solid 3px #081047;
    margin: 0 auto;
    display: block;

}
p {
    text-align: center;
}
button{
    background:black;
    color:#148aff;
    font-size: 17px;
    margin: 0 auto;
    display: block;
}