{% extends 'base.html' %}

{% block content %}
<p>
Ласкаво просимо в GAMESTARMADE - ваше джерело якісних ігрових товарів і аксесуарів! Наш магазин був заснований з метою надати геймерам по всьому світу найкращий досвід покупок, пропонуючи широкий асортимент товарів, високий рівень обслуговування і відмінні ціни.
</p>
<style>
    p{
        text-align:center;
        font-size:17px;
    }

</style>
<p style=" font-size:25px";>Історія магазину:</p>
<p>GAMESTARMADE почав свою історію в 2017, коли наші засновники вирішили створити місце, де геймери можуть знаходити все необхідне для повноцінного ігрового досвіду. Наша місія - зробити доступними видатні ігри та аксесуари для кожного, кому дорогий світ відеоігор.
</p>

<p style=" font-size:25px">Цінності та філософія:</p>
<p>Ми віримо в пристрасть до ігор і прагнемо передати цю пристрасть кожному нашому клієнту. Наша команда цінує якість, інновації та високий рівень сервісу. Ми пишаємося тим, що створюємо простір, де геймери можуть знаходити тільки найкращі продукти.
</p>
<p style=" font-size:25px">Команда:</p>
<p>Наші співробітники - це команда експертів, які поділяють любов до ігор. Ми постійно працюємо над тим, щоб надати вам найактуальніші та найякісніші товари.</p>

<p style=" font-size:25px">Асортимент товарів:</p>
<p>GAMESTARMADE пропонує широкий вибір ігор, консолей, аксесуарів і багато іншого. Ми прагнемо задовольнити потреби геймерів різного віку та вподобань.</p>

<p style=" font-size:25px">Якість обслуговування:</p>
<p>Ми гарантуємо високий рівень обслуговування та оперативність обробки замовлень. Ваше задоволення - наш пріоритет.</p>

<p style="margin-bottom:80px">Дякуємо всім нашим клієнтам за довіру! Ваші відгуки допомагають нам рости і вдосконалюватися.
Дякуємо, що обрали GAMESTARMADE. Ми готові подарувати вам незабутній ігровий досвід!
</p>
{% endblock %}